:root{
	--font-color-blanc: #FDFFF7CC;
	--font-family-blanc: #FDFFF7;
	--font-color: #05193B;
	--fond-bleu: #05193BCC;
	--font-size-nav: 24px;
	--font-size: 20px;
	--img-font: url('../assets/fond.jpg');
	--font-family-h: "Maitree", serif;
}